:root {
    --red: #dc0000;
    --white: #f7f7f7;
    --blue: #003b71;

    /* Buttons */
    --blackBB: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    background-color: #f2f2f2;
}

@media (max-width: 376px) {
    html {
        font-size: 0.8rem;
    }
}