.header {
    width: 100%;
    background-color: var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

.header h1 {
    color: white;
    font-family: "Work Sans", sans-serif;
}

.header img {
    height: 5rem;
    padding: 6px;
}

@media (max-width: 376px) {
    .header img {
        height: 4rem;
    }
}